<div class="container">

    <div class="container">
        <div class="container row" >

            <div class="col-md-12" >

                <div class="position-relative">

                    <img src="./assets/images/djakuzi.jpg" class="img-fluid picture" alt="Your Image">
                    
                    <div class="overlay-text">
                        <h2 class="font-style">Book Your Dream Stay</h2>
                        <p class="font-style">Over 1 Million Rooms Awaiting You!</p>
                    </div>

                    <form class="quick-search row align-items-center position-absolute top-100  start-50 translate-middle" >
                        
                        <div class="col-3" >
                            <p class="font-style bold-text" >Check-in Date</p>
                            <input class="form-control text-start font-style input-style" type="search" 
                            placeholder="Choose check-in date" aria-label="Choose check-in date">
                        </div>

                        <div class=" col-3 align-items-center border-start border-dark-subtle">
                            <p class="font-style bold-text">Check-out Date</p>
                            <input class="form-control text-start font-style input-style" type="search" 
                            placeholder="Choose check-out date" aria-label="Choose check-out date">
                        </div>

                        <div class=" col-2 align-items-center border-start border-dark-subtle">
                            <p class="font-style bold-text">Number of Guests</p>
                            <input class="form-control text-start font-style input-style" type="search" 
                            placeholder="Number of guests" aria-label="Number of guests">
                        </div>

                        <div class="col-3 align-items-center border-start border-dark-subtle">
                            <p class="font-style bold-text">Location</p>
                            <input class="form-control text-start font-style input-style" type="search" 
                            placeholder="Where are you traveling to?" aria-label="Where are you traveling to?">
                        </div>

                        <i class="bi bi-arrow-right-square col-1 icon-style"></i>

                    </form>

                </div>

            </div>

        </div>
    </div>
    
    <div class="container" style="margin-top: 100px;">
        <div class="container row">

            <h3>Popular Destinations</h3>
            <div class="parent">
                <div class="div1 position-relative">
                    <p class="position-absolute bottom-0 start-0 text-picture">Spain</p> 
                    <img src="./assets/images/spain.avif" class="img-fluid" alt="Your Image">
                </div>
                <div class="div2 position-relative">
                    <p class="position-absolute bottom-0 start-0 text-picture" >London</p> 
                    <img src="./assets/images/london1.jpeg" class="img-fluid" alt="Your Image">
                </div>
                <div class="div3 position-relative">
                    <p class="position-absolute bottom-0 start-0 text-picture" style=>Lisbon</p> 
                    <img src="./assets/images/lisbon.jpeg" class="img-fluid" alt="Your Image">
                </div>
                <div class="div4 position-relative">
                    <p class="position-absolute bottom-0 start-0 text-picture" >France</p> 
                      <img src="./assets/images/france.jpg" class="img-fluid" alt="Your Image">
                    </div>
                <div class="div5 position-relative">
                    <p class="position-absolute bottom-0 start-0 text-picture">Amsterdam</p> 
                    <img src="./assets/images/amsterdam.jpg" class="img-fluid " alt="Your Image">
                 </div>
                <div class="div6 position-relative"> 
                    <p class="position-absolute bottom-0 start-0 text-picture" >New York</p> 
                    <img src="./assets/images/new.jpg" class="img-fluid " alt="Your Image">
                </div>
            </div>
        </div>

    </div>
    
    <div class="container" style="margin-top: 50px;">
        <div class="container row">

            <h3>Guest-Favorite Accomodations</h3>
            
            <div class="card col-3 " style="width: 24%; margin-left: 1%;">
                
                <div class="position-relative">

                    <div class="div-rating position-absolute top-0 start-0">
                        <p class= "text-rating" >9.1</p>
                    </div>

                    <i class="bi bi-heart-fill position-absolute top-0 end-0 icon"></i>
                    <img src="./assets/images/hotel-1.jpeg" class="card-img-top img-fluid rounded" alt="card-img-top">
                </div>

                <div class="card-body">
                    <h4 class="card-title">Soho Hotel London</h4>
                    <p class="card-text">London</p>
                    <P>Starting from $130/night</P>
                </div>

            </div>

            <div class="card col-3" style="width: 24%; margin-left: 1%;">

                <div class="position-relative">
                    
                    <div class="div-rating position-absolute top-0 start-0">
                        <p class= "text-rating" >9.1</p>
                    </div>

                    <i class="bi bi-heart-fill position-absolute top-0 end-0 icon"></i>
                    <img src="./assets/images/hotel-2.jpg" class="card-img-top img-fluid rounded" alt="card-img-top">
                </div>

                <div class="card-body">
                    <h4 class="card-title">Piano Hotel</h4>
                    <p class="card-text">Sitonija</p>
                    <P>Starting from $130/night</P>
                </div>

            </div>

            <div class="card col-3" style="width: 24%; margin-left: 1%;" routerLink="/addAccommodation" routerLinkActive="router-link-active">

                <div class="position-relative">
                    
                    <div class="div-rating position-absolute top-0 start-0">
                        <p class= "text-rating" >9.1</p>
                    </div>

                    <i class="bi bi-heart-fill position-absolute top-0 end-0 icon"></i>
                    <img src="./assets/images/royal.jpeg" class="card-img-top img-fluid rounded" alt="card-img-top">
                </div>

                <div class="card-body">
                    <h4 class="card-title">Royal Putnik</h4>
                    <p class="card-text">Vranje</p>
                    <P>Starting from $130/night</P>
                </div>

            </div>

           
            <div class="card col-3" style="width: 24%; margin-left: 1%;" routerLink="/accommodationInfo" routerLinkActive="router-link-active">

            <div class="position-relative">
                
                <div class="div-rating position-absolute top-0 start-0">
                    <p class= "text-rating" >9.1</p>
                </div>
                
                <i class="bi bi-heart-fill position-absolute top-0 end-0 icon"></i>
                <img src="./assets/images/hotel.jpg" class="card-img-top img-fluid rounded" alt="card-img-top" >
            </div>

            <div class="card-body">
                <h4 class="card-title">Grande Hotel</h4>
                <p class="card-text">Majorca</p>
                <p>Starting from $130/night</p>
            </div>
            </div>  
        </div>
    </div>
</div>