<div>
	<form [formGroup]="additonalFilter">
		<div class="row mb-3">
			<div class="col">
				<label for="minPrice" class="form-label">Min price</label>
				<input
					type="number"
					class="form-control"
					id="minPrice"
					formControlName="minPrice"
					min="0"
					(input)="onFilterChange()"
				/>
			</div>
			<div class="col">
				<label for="maxPrice" class="form-label">Max price</label>
				<input
					type="number"
					class="form-control"
					id="maxPrice"
					formControlName="maxPrice"
					min="0"
					(input)="onFilterChange()"
				/>
			</div>
		</div>

		<label class="mb-2 title">Amenities</label>
		<div class="mb-3">
			<div *ngFor="let amenity of amenities" class="mb-1 amenities">
				<label class="check-label">
					<input
						type="checkbox"
						[formControlName]="amenity"
						class="check-box"
						(change)="onFilterChange()"
					/>{{ amenity }}
				</label>
			</div>
		</div>

		<label class="mb-2 title">Accommodation type</label>
		<div class="mb-3">
			<div
				*ngFor="let accommodationType of accommodationTypes"
				class="mb-1 amenities"
			>
				<label class="check-label">
					<input
						type="radio"
						[value]="accommodationType"
						formControlName="type"
						class="check-box"
						(change)="onFilterChange()"
					/>{{ accommodationType }}
				</label>
			</div>
		</div>
	</form>
</div>
