#price-list {
    width: 100%;
    height: 100%;
}

table {
    width: fill;
    height: fit-content;
    flex: 1;
    border: 3px solid #f0f0f0;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
}

th,
td {
    height: 50px;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f0f0f0;
    cursor: pointer;
}

#add-price-list {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-width: 640px;
    height: fit-content;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-right: 20px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vertical-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.vertical-wrapper label {
    margin: 0;
    font-size: 14px;
}

label {
    margin: 20px 0px 20px 0px;
    font-weight: 500;
    font-size: 16px;
}

.calendar {
    width: 300px;
}

input,
button,
select {
    height: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid black;
}

button {
    margin: 0;
    background-color: white;
}

th,
td,
.id {
    text-align: center;
}