.card{
    background-color: #F0F0F0;
    width: 100%;
    aspect-ratio: 4/1;
    
}
.card:hover{
    scale: 1.005;
    box-shadow: 5px 5px 10px 2px rgba(33,33,33,.2) ; 
}

.card-title{
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: 500;
}
p{
    margin-bottom: 0;
}

.short-description{
    margin-top: 40px;
}


