<div class="card mb-3" [ngClass]="{ opacity: checkStatus() }">
  <div class="row g-0" style="height: 100%">
    <img
      src="{{ reservation.url }}"
      class="img-fluid rounded-start col-md-4"
      alt="..."
    />

    <div class="col-md-5">
      <div class="card-body">
        <h5 class="card-title" name="card-title">{{ reservation.name }}</h5>
        <p class="card-text">
          <small class="text-body-secondary" name="address">{{ reservation.address }}</small>
        </p>
        <p class="card-text short-description mt-8" name="duration">
          {{ reservation.duration }} nights, {{ reservation.numOfGuest }} guests
        </p>
        <p class="card-text" name="timeStamp">
          {{ reservation.timeStamp }}
        </p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-body">
        <div class="price-info">
          <p class="card-text text-end" name="status">{{ reservation.status }}</p>

          <p class="card-text text-end price" name="price">{{ reservation.price }}€</p>

          <div
            class="d-flex flex-row-reverse mt-4"
            *ngIf="reservation.status == 'REJECTED'"
          >
            <button
              type="button"
              class="btn btn-outline-danger mt-5"
              (click)="deleteReservation()"
            >
              Delete
            </button>
          </div>

          <div
            class="d-flex flex-row-reverse mt-4"
            *ngIf="reservation.status == 'ACCEPTED'"
          >
            <button
              name="cancel-button"
              type="button"
              class="btn btn-outline-dark mt-5"
              (click)="cancelReservation()"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
