<div class="container-fluid row">
    <div class="col-6">
        <p class="main-text">Welcome to Tripster</p>
        <p class="text-support main-sub-text">Your Favorite Hotel Booking Experience</p>
    </div>
    <div class="col-6">
        <p class="font text-submain">Get help</p>
        <p class="font text-support">Frequently Asked Questions</p>
        <p class="font text-support">Customer Support</p>
        <p class="font text-support">How-to Guide</p>
        <p class="font text-support">Contact Us</p>
    </div>
  </div>