
*{
    margin-top: 10px;
}
.font{
    font-family: 'Poppins',sans-serif;
    font-size: 12px;
    text-align: right;
    line-height: auto;

}
.text-submain{
    color: #000000;
    font-weight: bold;
}
.text-support{
    color: #9f9d9d;
}
.font:hover{
    font-size: 14px;
}

.main-text{
    font-family: 'Poppins',sans-serif;
    font-size: 24px;
    text-align: left;
    line-height: auto;
    font-weight: bold;
}

.main-sub-text{
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    text-align: left;
    line-height: auto;

}