<div>
  <form [formGroup]="basicFilter">
    <div class="mb-3">
      <label class="form-label" for="destination">Destination</label>
      <input
        formControlName="destination"
        type="email"
        class="form-control"
        id="destination"
        placeholder="Copenhagen, Denmark"
        (input)="onFilterChange()"
      />
    </div>
    <div class="mb-3">
      <label for="chek-in" class="form-label">Chek-in date</label>
      <input
        formControlName="checkIn"
        type="date"
        class="form-control"
        id="chek-in"
        (input)="onFilterChange()"
      />
    </div>
    <div class="mb-3">
      <label for="chek-out" class="form-label">Chek-out date</label>
      <input
        type="date"
        class="form-control"
        formControlName="checkOut"
        id="chek-out"
        (input)="onFilterChange()"
      />
    </div>
    <div class="mb-3" *ngIf="!getCurrentURL().includes('guest/reservation')">
      <label for="nubmerOfGuest" class="form-label">Numer of guests</label>
      <input
        formControlName="numberOfGuest"
        type="number"
        class="form-control"
        value="2"
        id="nubmerOfGuest"
        (input)="onFilterChange()"
      />
    </div>
  </form>
</div>
