<div>
    
    <div class="mb-3">
        <label class="form-label" for="destination">Destination</label>
        <input type="email" class="form-control" id="destination" placeholder="Copenhagen, Denmark">
    </div>
    <div class="mb-3">
        <label for="chek-in" class="form-label">Chek-in date</label>
        <input type="date" class="form-control" id="chek-in">
    </div>
    <div class="mb-3">
        <label for="chek-out" class="form-label">Chek-out date</label>
        <input type="date" class="form-control" id="chek-out">
    </div>
    <div class="mb-3">
        <label for="nubmerOfGuest" class="form-label">Numer of guests</label>
        <input type="number" class="form-control" value="2" id="nubmerOfGuest">
    </div>

</div>