<div class="container">
    <div id="photos">
        <img class="item-1" src="./assets/images/accommodation.jpg"/> 
        <img class="item-2" src="./assets/images/accommodation.jpg"/>
        <img class="item-3" src="./assets/images/accommodation.jpg"/>
        <img class="item-4" src="./assets/images/accommodation.jpg"/>
        <img class="item5" src="./assets/images/accommodation.jpg"/>
    </div>

    <div id="title">
        <div>
            <h1>Hotel Norrebro</h1>
            <h4>3-star hotel located in center of Copenhagen</h4>
        </div>
        
        <app-rating></app-rating>
    </div>

    <div id="menu">
            <button>Overview</button>
            <button>Amenities</button>
            <button>Reviews</button>
            <button>Rent</button>
    </div>

    <hr/>

    <app-overview></app-overview>

    <hr/>

    <!-- <app-rating-stats></app-rating-stats>

    <app-review></app-review> -->

    <app-reviews></app-reviews>
    
</div>