<div class="container">
    <div id="photos">
        <img *ngFor="let url of photos.slice(0,5); let i = index" [src]="url" [class]="'item-' + (i + 1)" alt="Photo" />
    </div>

    <div id="title">
        <div>
            <h1>{{accommodation.name}}</h1>
            <h4>{{accommodation.shortDescription}}</h4>
        </div>
        
        <app-rating></app-rating>
    </div>

    <div id="menu">
            <button type="button" (click)="onClick('overview')">Overview</button>
            <button type="button" (click)="onClick('amenities')">Amenities</button>
            <button type="button" (click)="onClick('reviews')">Reviews</button>
            <button type="button" (click)="onClick('rent')">Rent</button>
    </div>

    <hr>
    <div id="canvas">
        <app-overview [hidden]="!(choice == 'overview')" [accommodation]="accommodation"></app-overview>
    
        <app-rent [hidden]="!(choice == 'rent')"></app-rent>
        
        <app-reviews [hidden]="!(choice == 'reviews')"></app-reviews>
    </div>
</div>