.parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 6fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.input-text-box {
    fill: var(--White, #FFF);
    width: 100%;
    margin: 10px;
    stroke-width: 1px;
    stroke: #000;
}

.modal-header {
    text-align: center;
}
.modal-title {
    text-align: center;
    margin: auto;
    /*font-family: "Poppins", 'Times New Roman', Times, serif, "sans-serif";*/
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.pop-up-background {
    background-color: #f0f0f0;
}

.pop-up {
    --bs-modal-width: 700px
}

.basic-info-div {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}
.pop-up-image-div {
    vertical-align: top;
    margin-left: 65px;
    align-items: center;
}

.registration-form {
    margin: 30px;
}

.form-control {
    margin-bottom: 10px;
    border-radius: 10px;
    
}

.profile-photo {
    /*display: non;*/
    border-radius: 100%;
}

.medium-input {
    width: 45%;
}

.input-row input{
    display: inline-block;
    margin-right: 10px;
}

.small-input {
    width: 20%;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
}

.mybtn {
    margin: 10px;
    border-radius: 10px;
    background-color: #FFF;
    color:#000
}

.dummy-profile-input {
    border-radius: 50%;
    width: 170px;
    height: 170px;
}

.radio-btn-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}