




<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Register now
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog pop-up">
        <div class="modal-content pop-up-background">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Register now</h5>
                
            </div>
            <div class="modal-body">
                <form [formGroup]="registrationForm" class="registration-form" id="registration-form"  layout="grid">
                    <div class="basic-info-div">
                        <div class="pop-up-text-div">
                            <input type="email" class="form-control" id="email" formControlName="email" placeholder="email@gmail.com">
                            <!-- <input type="text" class="form-control" formControlName="userNameInput" id="userNameInput" placeholder="user name"> 
                                OVDE TREBA STAVITI NESTO ZA UNOS TAJPA
                            -->
                            <input type="password" class="form-control" id="password1" formControlName="password1" placeholder="password">
                            <input type="password" class="form-control" id="password2" formControlName="password2" placeholder="password again">
                            <div class="radio-btn-group form-control">
                                <label>You are: </label><br>
                                <label>
                                <input type="radio" name="userType" formControlName="userType" value="GUEST" checked>
                                Guest</label>
                                <label>
                                <input type="radio" name="userType" formControlName="userType" value="HOST">
                                Host</label>                            
                            </div>
                            <input type="text" class="form-control" id="name" formControlName="name" placeholder="first name">
                            <input type="text" class="form-control" id="surname" formControlName="surname" placeholder="last name">
                            <input type="tel" class="form-control" id="phone" formControlName="phone" placeholder="phone number"><br/>
                        </div>
                        <!-- Ovde treba da se izmeni tako da postoji drag drop -->
                        <div class="pop-up-image-div">
                            <div >
                                <img class="dummy-profile-input"
                                src="https://media-s3-us-east-1.ceros.com/centaur-financial-platforms/images/2020/12/14/964e7b7d25cf55f625013e4382cd0986/shutterstock-485490535-customer-icon-blue.png"  />
                                <input type="file" id="myfile" style="display:none" />
                            </div>
                        </div>
                    </div>
                    

                    <p class="text">Adress:</p> 
                    <div class="input-row">
                        <input type="text" class="form-control medium-input" id="street" formControlName="street" placeholder="street">
                        <input type="text" class="form-control small-input" id="number"  formControlName="number" placeholder="number">
                    </div>
                    <div class="input-row">
                        <input type="text" class="form-control medium-input" id="city" formControlName="city" placeholder="city">
                        <input type="text" class="form-control small-input" id="zipCode" formControlName="zipCode" placeholder="postal code">
                    </div>
                    <input type="text" class="form-control medium-input" id="country" formControlName="country" placeholder="country">
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn cancel-btn mybtn" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn register-btn mybtn" (click)="register()" >Register</button>
            </div>
        </div> 
    </div>
</div>

