<div class="card mb-3" [ngClass]="{ opacity: checkStatus() }">
  <div class="row g-0" style="height: 100%">
    <img
      src="{{ reservation.url }}"
      class="img-fluid rounded-start col-md-4"
      alt="..."
    />

    <div class="col-md-5">
      <div class="card-body">
        <h5 class="card-title" name="accommodation-name">{{ reservation.name }}</h5>
        <p class="card-text">
          <small class="text-body-secondary">{{ reservation.address }}</small>
        </p>
        <p class="card-text">
          <small class="text-body-secondary"
            >Guest: {{ reservation.guest }}</small
          >
          <img
            *ngIf="true"
            (click)="openReportFormDialog()"
            class="report"
            src="./assets/icons/report.svg"
          />
        </p>
        <p class="card-text">
          <small class="text-body-secondary"
            >Number of cancelled: {{ reservation.numOfCancelled }}</small
          >
        </p>
        <p class="card-text short-description mt-8">
          {{ reservation.duration }} nights, {{ reservation.numOfGuest }} guests
        </p>
        <p class="card-text" name="timestamp">
          {{ reservation.timeStamp }}
        </p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-body">
        <div class="price-info">
          <p class="card-text text-end" name="status">{{ reservation.status }}</p>

          <p class="card-text text-end price">{{ reservation.price }}€</p>

          <div class="mt-5" *ngIf="reservation.status == 'PENDING'">
            <div class="row">
              <button
                name="accept-button"
                type="button"
                class="btn btn-outline-dark"
                (click)="acceptReservation()"
              >
                Accept
              </button>
              <button
                name="reject-button"
                type="button"
                class="btn btn-outline-danger mt-2"
                (click)="rejectReservation()"
              >
                Reject
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
