#review {
    text-align: justify;
}

#header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

img {
    height: 18px;
    transition: height 0.3s ease;
}

img:hover {
    height: 24px;
}

p {
    font-size: 14px;
    font-weight: 400;
}