<div id="review">
    <div id="header">
        <div>
            <h3>{{review.title}} 
                <img *ngIf="isReportable()" src="./assets/icons/report.svg">
                <img *ngIf="isDeletable()" (click)="deleteReview()" src="./assets/icons/delete.svg">
            </h3>
            <p>{{review.reviewerName}} {{review.reviewerSurname}}</p>
        </div>

        <app-rating [rating]="review.rate" [timeStamp]="review.timeStamp"></app-rating>
    </div>
    <p> {{review.comment}} </p>
    <hr/>
</div>
