#form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar {
    width: 300px;
}

input {
    border-radius: 10px;
    border: 1px solid;
    height: 37px;
    padding: 10px;
    width: 300px;
}

h1 {
    font-weight: 500;
    font-size: 24px;
}

span {
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* #rent {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
} */

p {
    margin-bottom: 20px;
}

.date-picker-wrapper {
    display: flex;
}

.validator {
    color: red;
    margin: 10px;
}

.reservation-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}