<div id="rent">
    <div>
        <h1> Make a reservation for {{name}} </h1>
        <p> Pick the time frame that best suits you. </p>
        
        <mat-card class="calendar">
        <mat-calendar (selectedChange)="_onSelectedChange($event)"
                    [selected]="selectedDateRange"></mat-calendar>
        </mat-card>
    </div>

    <div id="preview">
        <h1> Reservation preview </h1>
        <p> Review reservation details before finalizing your decision. </p>
        
        <span>
            <label> Start date: </label>
            <input type="text" disabled="true" placeholder="Pick from calendar">
        </span>
        <span>
            <label> End date: </label>
            <input type="text" disabled="true" placeholder="Pick from calendar">
        </span>
        <span>
            <label> Number of guests: </label>
            <input type="number" placeholder="Number of guests" min="1">
        </span>
        <span>
            <label> Total price: </label>
            <input type="text" disabled="true" placeholder="Total price">
        </span>
        <button type="button " class="btn btn-outline-dark"> Make a reservation </button>
    </div>
</div>


