<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="mode == 'update' || mode == 'add'">
    <h1 id>Hello Rade, let`s register an accommodation of yours!</h1>

    <h1>We`ll start with some base info.</h1>

    <div id="base-info" class="form">
      <label for="name"> Something unique and authentic </label>
      <label *ngIf="isValidName()" class="validator">
        The name is required.
      </label>
      <input
        type="text"
        id="name"
        formControlName="name"
        placeholder="Accommodation name"
      />
      <label for="short-desc">
        Make it short and memorable (max 75 characters)
      </label>
      <label *ngIf="isValidShortDescription()" class="validator">
        The short description is required and must be shorter than 75
        characters.
      </label>
      <input
        type="text"
        id="short-desc"
        formControlName="shortDescription"
        placeholder="Short description"
      />
      <label for="min-cap"> Make it as flexible as possible </label>
      <label *ngIf="isValidMaxCap() || isValidMinCap()" class="validator">
        Fields are required.
      </label>
      <span>
        <input
          type="number"
          id="min-cap"
          min="1"
          max="10"
          formControlName="minCap"
          placeholder="Minimal capacity"
        />
        <input
          type="number"
          id="max-cap"
          min="1"
          max="10"
          formControlName="maxCap"
          placeholder="Maximal capacity"
        />
      </span>
      <label *ngIf="isValidType()" class="validator">
        The field is required.
      </label>
      <span>
        <select id="type" formControlName="type">
          <option value="placeHolder" disabled>
            Pick the type of your unit
          </option>
          <option value="APARTMENT">Apartment</option>
          <option value="STUDIO">Studio</option>
          <option value="ROOM">Room</option>
        </select>
        <span class="radios">
          <label *ngIf="isValidAutomaticReservation()" class="validator">
            The type is required.
          </label>
          <input
            type="radio"
            id="automatic"
            name="automaticReservation"
            value="true"
            formControlName="automaticReservation"
          />
          <label for="automatic">Allow automatic reservation (advised)</label>
        </span>

        <span class="radios">
          <input
            type="radio"
            id="manual"
            name="automaticReservation"
            value="false"
            formControlName="automaticReservation"
          />
          <label for="manual">Review each reservation request manually</label>
        </span>
      </span>
    </div>

    <!-- <h1> Let`s take a dive into details! </h1> -->
    <h1>Let`s now move on to Address info!</h1>

    <div id="address" class="form">
      <label *ngIf="isValidCountry()" class="validator">
        The country is required.
      </label>
      <input
        type="text"
        id="country"
        formControlName="country"
        placeholder="Country"
      />
      <!-- (ngModelChange)="onAdressChange()" -->

      <label *ngIf="isValidCity() || isValidZipCode()" class="validator">
        The country an zip code are required.
      </label>
      <span>
        <input
          type="text"
          id="city"
          formControlName="city"
          placeholder="City"
        />
        <input
          type="text"
          id="zip-code"
          formControlName="zipCode"
          placeholder="Zip code"
        />
      </span>
      <label *ngIf="isValidStreet() || isValidNumber()" class="validator">
        The street and number are required.
      </label>
      <span>
        <input
          type="text"
          id="street"
          formControlName="street"
          placeholder="Street"
        />
        <input
          type="text"
          id="number"
          formControlName="number"
          placeholder="Street No."
        />
      </span>

      <label for="longitude">
        If the location on the map isn`t pointing to the exact location of your
        unit please insert longitude and latitude you get from another map
        service.
      </label>
      <span>
        <input
          type="text"
          id="longitude"
          formControlName="longitude"
          placeholder="Longitude"
        />
        <input
          type="text"
          id="latitude"
          formControlName="latitude"
          placeholder="Latitude"
        />
      </span>
    </div>

    <h1>Here we need as much details as possible.</h1>

    <div id="details">
      <label for="desc">
        Be as creative and honest as you please, here you have the full freedom
        to represent your unit as best as you can. So don`t be stingy on words,
        describe it to the fullest of details!
      </label>
      <label *ngIf="isValidDescription()" class="validator">
        The description is required.
      </label>
      <textarea
        id="desc"
        rows="4"
        cols="50"
        formControlName="description"
        placeholder="Description"
      ></textarea>
    </div>

    <h1>The more you provide, the more you`ll attract!</h1>

    <div id="amenities" formArrayName="amenities">
      <div
        class="amenity-wrapper"
        *ngFor="let amenity of checkedAmenities; index as i"
      >
        <input
          type="checkbox"
          [id]="'check-' + i"
          (change)="toggleAmenity($event, i)"
          [checked]="checkedAmenities[i]"
        />
        <!-- value="i"
          [formControlName]="amenity" -->
        <label class="wrapper-label" [for]="'check-' + i">
          <app-amenity
            [amenity]="i"
            [checked]="checkedAmenities[i]"
          ></app-amenity>
        </label>
      </div>
    </div>

    <h1>Finally tell us what is your free cancellation period policy.</h1>

    <label for="cancellation-policy">
      Give as much flexibility, but be carefull to not hurt your bussines.
    </label>
    <label *ngIf="isValidCancelDuration()" class="validator">
      The cancellation policy is required.
    </label>
    <div id="cancellation-policy">
      <select id="policy" formControlName="cancelDuration">
        <option value="placeHolder" disabled>
          Pick the cancellation period policy
        </option>
        <option value="3">3 days before the reservation</option>
        <option value="7">7 days before the reservation</option>
        <option value="14">14 days before the reservation</option>
        <option value="30">1 month before the reservation</option>
        <option value="custom" disabled>Custom</option>
        <option value="0">None</option>
      </select>
      <input
        type="number"
        id="custom"
        min="0"
        max="60"
        placeholder="Custom free cancellation period policy"
      />
    </div>

    <h1 id="end-title">Wrapping up registrastion!</h1>

    <div id="add-new">
      <button class="btn btn-outline-dark" type="submit">
        Register this accommodation
      </button>
      <button id="reset">Reset all fields</button>
    </div>
  </form>

  <h1 *ngIf="mode == 'update' || mode == 'main-form'" >Show us the photos of your unit.</h1>

  <app-photo-upload *ngIf="mode == 'update' || mode == 'main-form'" (mode)="handleModeChange($event)"></app-photo-upload>

  <h1 *ngIf="mode == 'update' || mode == 'photo-upload'" >Now let`s define price lists for your unit.</h1>

  <app-price-list *ngIf="mode == 'update' || mode == 'photo-upload'"></app-price-list>
</div>
