.card {
  background-color: #f0f0f0;
  width: 100%;
}
.card:hover {
  scale: 1.005;
  box-shadow: 5px 5px 10px 2px rgba(33, 33, 33, 0.2);
}

.card-title {
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 500;
}
.coll {
  display: flex;
  justify-content: end;
}

.short-description {
  margin-top: 40px;
}
