<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand col-2" [routerLink]="['home']" href="#">
      <img
        src="./assets/images/logo.svg"
        alt="Tripster"
        width="102"
        height="80"
      />
    </a>

    <div class="d-flex col-2"></div>

    <form class="d-flex col-4" role="search">
      <input
        class="form-control me-2 text-center"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
    </form>

    <div class="col-1"></div>

    <div class="container row col-3">
      <div class="d-flex justify-content-end">
        <app-registration-form *ngIf="role == null"></app-registration-form>
        <app-login *ngIf="role == null" style="margin-left: 20px"></app-login>
        <button
          type="button"
          *ngIf="role != null"
          class="btn btn-outline-dark"
          (click)="logOut()"
        >
          Log out
        </button>
        <app-admin-navbar *ngIf="role == 'ROLE_ADMIN'"></app-admin-navbar>
        <app-user-navbar *ngIf="role == 'ROLE_GUEST'"></app-user-navbar>
        <app-host-navbar *ngIf="role == 'ROLE_HOST'"></app-host-navbar>
        <div class="dropdown">
          <i class="bi bi-list dropbtn icon"></i>
          <div class="dropdown-content">
            <a href="#" [routerLink]="['guest/reservation']">Reservation</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
