<div id="review-stat">
    
    <div id="stat-header">
        
        <h1> {{stats.rating}} {{getRateName()}} </h1>
        <p> {{stats.reviews}} reviews </p>
        
    </div>
    
    <div class="header">
        <p> Excellent </p>
        <p> {{stats.excellent}} </p>
    </div>
    <mat-progress-bar mode="determinate" [value]="calculateProgress(stats.excellent)"></mat-progress-bar>
    <div class="header">
        <p> Good </p>
        <p> {{stats.good}} </p>
    </div>
    <mat-progress-bar mode="determinate" [value]="calculateProgress(stats.good)"></mat-progress-bar>
    <div class="header">
        <p> Average </p>
        <p> {{stats.average}} </p>
    </div>
    <mat-progress-bar mode="determinate" [value]="calculateProgress(stats.average)"></mat-progress-bar>
    <div class="header">
        <p> Poor </p>
        <p> {{stats.poor}} </p>
    </div>
    <mat-progress-bar mode="determinate" [value]="calculateProgress(stats.poor)"></mat-progress-bar>
    <div class="header">
        <p> Bad </p>
        <p> {{stats.bad}} </p>
    </div>
    <mat-progress-bar mode="determinate" [value]="calculateProgress(stats.bad)"></mat-progress-bar>
</div>