<div id="review-stat">
    
    <div id="stat-header">
        
        <h1> 4.6 Excellent </h1>
        <p> 253 reviews </p>
        
    </div>
    
    <div class="header">
        <p> Excellent </p>
        <p> 123 </p>
    </div>
    <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
    <div class="header">
        <p> Good </p>
        <p> 42 </p>
    </div>
    <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
    <div class="header">
        <p> Average </p>
        <p> 12 </p>
    </div>
    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    <div class="header">
        <p> Poor </p>
        <p> 5 </p>
    </div>
    <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
    <div class="header">
        <p> Bad </p>
        <p> 1 </p>
    </div>
    <mat-progress-bar mode="determinate" value="10"></mat-progress-bar>
</div>