<h1> 
  Montlhy stats for each accommodation
  
  <p-toggleButton class="toggle" onLabel="Reservations" offLabel="Revenue"></p-toggleButton>
</h1>

<canvas
  baseChart
  class="chart"
  [data]="lineChartData"
  [options]="lineChartOptions"
  [type]="lineChartType"
></canvas>

<table>
  <tr>
    <th> Accommodation </th>
    <th *ngFor="let label of lineChartData.labels">{{ label }}</th>
  </tr>
  <tr
    *ngFor="let d of lineChartData.datasets; let i = index"
    [class]="'line-' + i"
  >
    <td> {{accommodations[i]}} </td>
    <td *ngFor="let label of lineChartData.labels; let j = index">
      {{ d && d.data[j] }} €
    </td>
  </tr>
</table>

<form>
  <label> Pick the year to display: </label>
  <input
          id="year"
          type="number"
          min="2022"
          max="2024"
          placeholder="Pick the year"
        />

  <button class="btn btn-outline-dark" type="submit"> Load chart </button>
</form>

