<div class="container ">
    <div class="container row " >

        <div class="container col-4 filter" >
            <div class="container">
                <p><i class="bi bi-arrow-left-square" ></i></p>
                <p class="title">{{filterTitle}}</p>
                
            </div>
            
        </div>
    
        <div class="container col-8 ">
            <p class="searchResults">{{numberOfResults}} Search Results For </p>
            <p class="title">{{title}}</p>
            <div>
                
            </div>
            
        </div>
    
        
    </div>
</div>
