#details {
    display: flex;
}

#accommodation_details {
    flex: 1;
}

#owner_details {
    flex: 1;
}

h1 {
    font-weight: 500;
    font-size: 24px;
}

.detail {
    display: flex;
    align-items: center;
    height: 50px;
}

img {
    height: 35px;
}

p {
    margin: 0px 0px 0px 10px;
    font-size: 16px;
}

.owner_icon {
    margin: 0px 0px 16px 10px;
    height: 20px;
}

button {
    height: 50px;
    width: 48%;
    background-color: white;
    font-size: 18px;
    margin: 0;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid black;
    display: block;
}

#report {
    color: red;
    border-color: red;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

#report:hover {
    color: white;
    background-color: red;
}

.buttons {
    justify-content: space-between;
}