<div id="details">

    <div id="accommodation_details">
        <h1> Details </h1>

        <div class="detail">
            <img src="./assets/icons/capacity.svg">
            <p> Capacity: <b>{{accommodation.minCap}} - {{accommodation.maxCap}} people</b></p>
        </div>
        <div class="detail">
            <img src="./assets/icons/type.svg">
            <p> Type of accommodation: <b>{{getType()}}</b></p>
        </div>
        <div class="detail">
            <img src="./assets/icons/price_strategy.svg">
            <p> Pricing strategy: <b>{{getPricingStrategy()}}</b></p>
        </div>
        <div class="detail">
            <img src="./assets/icons/free_cancellation.svg">
            <p> Free cancellation: <b>{{accommodation.cancelDuration}} days before</b></p>
        </div>
    </div>

    <div id="owner_details">
        <h1> Owner`s info </h1>
        <!-- <div class="detail"> -->
            <!-- <img class="owner_icon" src="./assets/icons/add_comment.svg"> -->
            <!-- <img class="owner_icon" src="./assets/icons/report.svg"> -->
        <!-- </div> -->
        
        <div class="detail">
            <img src="./assets/icons/person.svg">
            <p> Name: <b>{{host.name}} {{host.surname}}</b></p>
        </div>
        <div class="detail">
            <img src="./assets/icons/email.svg">
            <p> Email: <b>{{host.email}}</b></p>
        </div>
        <div class="detail">
            <img src="./assets/icons/phone.svg">
            <p> Phone: <b>{{host.phone}}</b></p>
        </div>

        <div *ngIf="reviewable"  class="detail buttons">
            <button id="report"> Report </button>
            <button class="btn btn-outline-dark" (click)="openReviewFormDialog()"> Review </button>
        </div>


    </div>
</div>