*{
    font-family: 'Poppins',sans-serif;
}

.font{
    font-weight: 600;
}

.font-text{
    font-size: 40px;
    padding: 0;
    margin: 0;
    text-align: right;
}

#header {
    border-bottom: none;
}

#footer {
    border-top: none;
    display: flex;
    justify-content: space-between;
}

#modal-body {
    margin: 30px;
}