<div id="photo-upload">
  <ngx-dropzone id="drop-zone" (change)="onDrop($event)">
    <img
      id="icon"
      src="assets/icons/upload-photo.svg"
      alt="Slika"
      class="dropzone-image"
    />
    <h1>Browse or drop your photos here.</h1>
    <!-- <p> The order you upload them determines their priority. </p> -->
  </ngx-dropzone>

  <h1>The preview of uploaded photos.</h1>

  <div id="preview">
    <img *ngFor="let url of urls" [src]="url" alt="Preview" />
  </div>

  <h1 id="end-title">Upload photos!</h1>

  <div id="add-new">
    <button class="btn btn-outline-dark" type="submit" (click)="uploadPhotos()">
      Upload photos
    </button>
    <button id="reset">Remove all photos</button>
  </div>
</div>
