<div class="container">
    <h1 (click)="toggleSettings()" [@changeHeaderBackground]="headerBackgroundState"> Notifications <img src="./assets/icons/settings.svg" [@rotateImage]="imageRotationState" (click)="rotateImage()" ></h1>

    <div class="settings" [@showHideSettings]="settingsState">
        <h3> Notify me about reservations  <mat-slide-toggle color="warn"/> </h3>
        <h3> Notify me about my reviews  <mat-slide-toggle color="warn"/> </h3>
        <h3> Notify me about accommodation reviews  <mat-slide-toggle color="warn"/> </h3>
    </div>

    <p *ngFor="let message of messages"> {{message}} </p>


    <app-notification *ngFor="let notification of notifications" [notification]="notification" (read)="markAsRead($event)"></app-notification>

</div>
